<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<%= image_tag "http://www.gravatar.com/avatar/" + Digest::MD5.hexdigest(@user.email).to_s + ".jpg" %>
<% if current_user?(@user) %>
    <%= render 'boards/new' %>
<% end %>
<div class="row">
	<% if @user.boards.any? %>
		<h3>Boards (<%= @user.boards.count %>)</h3>
		<ol class="list-group">
			<%= render @boards %>
		</ol>
		<%= will_paginate @boards %>
	<% end %>
</div>