
  <% if current_user?(@user) %>
    <%= link_to [@user, board], class: 'list-group-item' do%>
      <%= board.title %>
      <span class="badge">Created <%= time_ago_in_words(board.created_at) %> ago</span>
    <% end %>
  <% else %>
    <li class="list-group-item">
      <span class="list-user">
        <%= board.title %>
      </span>
      <span class="badge">
        Created <%= time_ago_in_words(board.created_at) %> ago
      </span>
    </li>
  <% end %>

