<% provide(:title, @board.title) %>

<body>
<%= javascript_include_tag 'paperjs/paper-full.min.js' %>


<input type="button" id="save_board" value="save board" class="btn">

<script>
      function load() {
          project.importJSON(jQuery.parseJSON(("<%=j @content %>").replace(/&quot;/g, '"')));
      };

  $("#save_board").click(function(){
      var hash = p;
      var path = "<%=j user_board_url %>";;
      $.ajax({
          type: "PUT",
          url: path,
          data: {board: JSON.stringify(hash)},
          dataType: 'json',
          success: function() { alert("Success"); },
          error: function(status, error) {
              $("#debug").append($(status.responseText));
          }
      });
  });
</script>
<h3 class="center"><%= @board.title %></h3>
<form name="color" action="" method="GET">
  Color: <input type="text" name="colorInput">
  <input type="button" name="colorButton" value="Change Color" onclick="changeColor(this.form)" class="btn btn-large btn-primary">
</form>
<div class="row">
  <div class="panel panel-default" style="overflow: scroll;">
    <canvas id="canvas1" width="1200" height="700"></canvas>
  </div>
</div>
<div id="debug">

</div>
<%= javascript_include_tag 'test.js' %>
</body>